body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5; 
    margin: 0;
    padding: 0;
}

.user-signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    padding: 20px;
    background-image: url('https://images.pexels.com/photos/5881522/pexels-photo-5881522.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}
.signip-note{
    font-size: small;
    color: #333333;
}

.user-signup-heading {
    color: #003366; 
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.user-signup-form {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.user-signup-field {
    margin-bottom: 20px;
}

.user-signup-label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333333; 
}

.user-signup-input {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #CCCCCC; 
    font-size: 1rem;
    color: #333333;
}

.user-signup-input:focus {
    border-color: #66B2FF;
    outline: none;
}

.user-signup-button {
    width: 100%;
    padding: 12px;
    background-color: #FF7F50;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-signup-button:hover {
    background-color: #E67350; 
}

@media (max-width: 600px) {
    .user-signup-container {
        padding: 10px;
    }

    .user-signup-form {
        padding: 20px;
    }

    .user-signup-heading {
        font-size: 2rem;
    }

    .user-signup-button {
        font-size: 1rem;
    }
}